
* {
    box-sizing: border-box;
}
#bidpage {

    padding-bottom: 120px;
    padding-top: 50px;

}

h3#bidTitle {
    text-align: center;
    margin-bottom: 12px;
    padding-bottom: 30px;
}

button#bid, button#postjob {
    width: 130px;
    border-radius: 25px;
}

#bid {

    background-color: #e6524c;
    color:#fff;
    margin-left:30%;
    margin-right: 40px;
}

#postjob {
    background-color: #2e4db3;
    color: #fff;
    margin-left: 100px;
}