#logginform {
    margin-top: 130px;
    margin-left: 100px;
}

#userName, #inputPassword {
    width: 350px;
}

.formgroup-username {

    margin-bottom: 20px;

}

.btn-primary.btn-sm {
    margin: 10px 0;
}

#line {
    width: 350px;
    margin: 10px 0px 15px 0;
}